body{
background-color: lightpink;
background-size: cover;
height: 100%;
width: 100%;
}

.cabecera{
text-align: center;
background-color: lightcoral;
}
main{
    background-color: burlywood;
    width: 100%;
    height: 100%;
    
}

.inputs{
    text-align: center;
    display: block;
    width: 50%;
}
.label{
    font-size:1em;
    text-align: center;
    
}
.secciones{
display: block;
border: solid 2px;
width: 48%;
height: 48%;
margin: 15px;
padding:10px;
position: relative;
}
#formulario-carga{
    background-color: aliceblue;
    padding: 15px;
}


#display-carga{
    background-color: beige;
    padding: 15px
}

.botones{
   border-radius: 15px;
   font-size: 0.75em;
   width: 60px;
   padding: 2px;
   margin-top: 5px;
   margin-bottom: 5px;
   }

table{
    border: solid 2px;
    width: 100%;
}
.t-header{
    border: solid 2px;
}
.t-data{
    border: solid 2px ;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: firebrick;
    margin-bottom: 0px;
}